<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Wear</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <p>Запасы</p>
        <p><span th:text="${message}"></span></p>
    </div>
    <div class="content">
        <div class="result">
            <form class="button_form" action="/reserve/workwear" method="get">
                <button class="button" type="submit">Рабочая одежда</button>
            </form>
        </div>
        <div class="result">
            <form class="button_form" action="/reserve/workshoes" method="get">
                <button class="button" type="submit">Рабочая обувь</button>
            </form>
        </div>
    
        <div class="result">
            <form class="button_form" action="/" method="get">
                <button class="button" type="submit">Вернуться </button>
            </form>
        </div>

    </div>