<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/employee_create.css}" rel="stylesheet" />
    <title>Work Wear</title>
</head>

<body>
    <div class="header">
        <p>Рабочая одежда ввод</p>
        <p class="p"><span th:text="${message}"></span></p>
    </div>
    <div class="content">
        <form class="form" action="#" th:action="@{/workwear/create}" th:object="${workWearArrival}"
            th:value="${quantity}" method="post">
            <div class="input">
                <label for="modelWorkWear">Модель</label>
                <input type="text" th:field="*{modelWorkWear}" id="modelWorkWear" placeholder="Модель">
            </div>
            <div class="input">
                <label for="workWearType">Тип спецодежды</label>
                <select class="form-control" id="workWearType" name="workWearType">
                    <option value="0">выберите тип</option>
                    <option th:each="workWearType : ${workWearTypeList}" th:value="${workWearType}"
                        th:text="${workWearType}">
                    </option>
                </select>
            </div>
            <div class="input">
                <label for="workWearSize">Размер спецодежды</label>
                <select class="form-control" id="workWearSize" name="workWearSize">
                    <option value="0">выберите размер</option>
                    <option th:each="workWearSize : ${workWearSizeList}" th:value="${workWearSize}"
                        th:text="${workWearSize}">
                    </option>
                </select>
            </div>
            <div class="input">
                <label for="workWearHeight">Рост</label>
                <select class="form-control" id="workWearHeight" name="workWearHeight">
                    <option value="0">выберите рост</option>
                    <option th:each="workWearHeight : ${workWearHeightList}" th:value="${workWearHeight}"
                        th:text="${workWearHeight}"></option>
                </select>
            </div>
            <div class="input">
                <label for="quantity">Количество</label>
                <input type="number" th:field="*{quantity}" id="quantity" placeholder="количество">
            </div>
            <div class="input">
                <button class="button" type="submit" value="Create workWear">Пополнить</button>
            </div>
        </form>
    </div>

    <form class="button_form" action="/" method="get">
        <button class="button" type="submit">Вернуться</button>
    </form>


</body>

</html>